@model AspNetCoreMVC.Introduction.EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorDemo</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.CityId</td>
                </tr>
            }
        </tbody>
    </table>

    Mail me : unsalsenturkk@gmail.com
    I am @@Istanbul

    <p>@DateTime.Now</p>
    @{var date = DateTime.Now - TimeSpan.FromDays(3);}
    <p>3 days ago was @date</p>
    @{
        var number = 10;
    }
    <p>@number</p>

    @if (number < 10)
    {
        <p> Your number is less than 10</p>
    }
    else if (number == 10)
    {
        <p>Your number 10</p>
    }
    else
    {
        <p>Your number greater than 10</p>
    }

    @switch (number)
    {
        case 10:
            <p>Your number is 10</p>
            break;
        case 11:
            <p>Your number is 11</p>
            break;
        case 12:
            <p>Your number is 12</p>
            break;
        default:
            <p>I have no idea about the number</p>
            break;
    }

    @try
    {

    }
    catch (ArgumentNullException argumentNullException)
    {

        throw;
    }
    catch (Exception)
    {

        throw;
    }
    finally
    {

    }

    @using (Html.BeginForm())
    {
        <input type="text" id="" name="name" value="" />
        <button type="submit"></button>
    }

</body>
</html>
